Saved/*
Intermediate/*
Binaries/*
Build/*
Config/*
Plugins/OceanPlugin/Intermediate/*
Plugins/Wwise/*
.vs/*

# Wwise
**/.cache/*
**/*.akd
**/*.prof
**/*.wsettings
**/*.validationcache
**/*.wem
Plugins/Wwise/LauncherInfo.json
HaulAwayProject_WwiseProject/GeneratedSoundBanks/*